.grade-detail-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  margin: 0 auto;

  .form-header {
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 8px;
    text-align: left;
  }

  mat-form-field {
    width: 100%;
  }

  .form-actions {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
  }
}
